extends login 

block content 
    .register-box.container 
        .header.d-flex.justify-content-center.w-3.mx-auto
            h2 Registration Page
        form(action="/customer", method="post")
            .form-group 
                label(for="fullname") Fullname 
                input(type="rext" name="fullname" class="form-control")
            .form-group 
                label(for="email") Email 
                input(type="email" name="email" class="form-control")
            .form-group 
                label(for="password") password
                input(type="password" name="password" class="form-control")
            .form-group 
                label(for="cpassword") Confirm Password
                input(type="password" name="cpassword" class="form-control")
            button(type="submit" class="btn btn-primary") submit